* {box-sizing: border-box;}


#Start {
  background-color: rgb(0, 255, 0);
}

#start-div {
  margin-top: 50px;
}

select {
  background-color: #555;
  color: white;
  padding: 1%;
  font-size: 28px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: block;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: auto;
}

#restart {
  position: fixed;
  top: 2%;
  right: 2%;
  width: 200px;  
}

#restart:hover {
  background-color: red;
}


html {
  background: black;
}

body {
  color: white;
  text-align: center;
  font-family: Helvetica,'Roboto', Arial;
  margin: 20px 5px;
  padding: 10px;
}
  

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 34px;
}

button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  cursor: pointer;
  display: block;
  align-self: center;
  margin: auto;
  margin-bottom: 1%;
  font-size: 36px;
  padding: 25px;
  border-radius: 10%;
  border: 1px outset white;
  transition-duration: 0.5s;
}

.answer {
  margin: auto;
  margin-bottom: 1%;
  border: 1px outset white;
  border-radius: 12px;
}

p {
  font-size: 30px;  
}

button:hover {
  background-color: rgb(0, 255, 0);
}
  
#Next:hover {
  background-color: blue;
}
